:host {
  .panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 60px;
    border: 1px solid;
    padding: 40px;
  }

  .input-container {
    display: flex;
    flex-direction: column;
  }

  .form-container {
    display: flex;
    flex-direction: column;
  }

  .row-no-align {
    display: flex;
    gap: 100px;
  }

  .row {
    display: flex;
    align-items: center;
  }

  .row2 {
    @extend .row;
    gap: 100px;
  }

  .second-row {
    display: flex;
    align-items: center;
    gap: 100px;
    margin-top: 40px;
  }

  .col {
    display: flex;
    flex-direction: column;
  }

  h4 {
    margin-bottom: 8px;
  }

  mat-form-field {
    width: 220px;
  }

  .mat-f-field {
    width: 220px;
    background-color: #ececec;
    padding: 12px 0;
    text-align: center;
    border-radius: 4px;
  }

  .mat-f-field2 {
    width: 260px;
    background-color: #ececec;
    padding: 24px 0;
    text-align: center;
    border-radius: 4px;
  }
}
