:host {
  .panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid;
    padding: 24px;
  }

  .form-container {
    display: flex;
    flex-direction: column;
  }

  .pair {
    display: flex;
    justify-content: space-between;
    gap: 8px;
  }

  .swap-btn {
    margin-left: 64px;
  }

  .to {
    margin-top: 16px;
  }

  .one-to-one {
    margin-top: 16px;
    background-color: #ececec;
    padding: 12px 0;
    text-align: center;
    border-radius: 4px;
  }

  .result {
    margin-top: 16px;
  }
}
